n8n/workflows/pe-eval-mvp-workflow-clean.json
{
  "name": "PE-Eval MVP Document Analysis Pipeline",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "watchFiles",
        "triggerOn": "fileAdded",
        "folderId": {
          "__rl": true,
          "value": "{{ $vars.PE_COMPANIES_FOLDER_ID }}",
          "mode": "id"
        },
        "watchFor": ["fileAdded", "fileUpdated"],
        "options": {
          "includeSubfolders": true,
          "fileTypes": ["pdf", "xlsx", "docx", "pptx"],
          "pollInterval": 60
        }
      },
      "id": "google-drive-trigger",
      "name": "Google Drive PE Document Monitor",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "extractFromFile",
        "fileInputField": "data",
        "extractTo": "text",
        "options": {
          "maxPages": 100,
          "extractImages": false,
          "extractTables": true,
          "preserveFormatting": true
        }
      },
      "id": "document-extractor", 
      "name": "Extract From File Multi-Format",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// PE-Eval MVP: Financial Metric Extraction Engine\n// Based on Phase 1 MetricExtractor.js with 89.6% accuracy\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const fileData = item.json;\n  const extractedText = fileData.text || '';\n  \n  // Company identification from folder path\n  const folderPath = fileData.parents?.[0]?.name || fileData.name || 'Unknown';\n  const companyName = extractCompanyName(folderPath);\n  \n  // Financial metric extraction using proven Phase 1 patterns\n  const extractedMetrics = extractFinancialMetrics(extractedText);\n  \n  results.push({\n    json: {\n      file_id: fileData.id,\n      file_name: fileData.name,\n      company_name: companyName,\n      extracted_metrics: extractedMetrics,\n      processing_timestamp: new Date().toISOString(),\n      ready_for_sheets: true\n    }\n  });\n}\n\nreturn results;\n\nfunction extractCompanyName(folderPath) {\n  const parts = folderPath.split('/');\n  const companyPart = parts.find(part => \n    !part.includes('Private') && \n    !part.includes('Companies') && \n    part.trim().length > 0\n  );\n  return companyPart ? companyPart.trim() : 'Unknown Company';\n}\n\nfunction extractFinancialMetrics(text) {\n  const patterns = {\n    revenue: [\n      /revenue.*?[\\$€£¥]?([\\d,]+(?:\\.\\d{1,2})?)\\s*(?:million|m|billion|b|thousand|k)?/gi,\n      /total\\s+revenue.*?[\\$€£¥]?([\\d,]+(?:\\.\\d{1,2})?)\\s*(?:million|m|billion|b|thousand|k)?/gi\n    ],\n    valuation: [\n      /valuation.*?[\\$€£¥]?([\\d,]+(?:\\.\\d{1,2})?)\\s*(?:million|m|billion|b|thousand|k)?/gi,\n      /market\\s+cap.*?[\\$€£¥]?([\\d,]+(?:\\.\\d{1,2})?)\\s*(?:million|m|billion|b|thousand|k)?/gi\n    ]\n  };\n  \n  const extractedMetrics = {};\n  \n  Object.keys(patterns).forEach(metricType => {\n    const matches = [];\n    patterns[metricType].forEach(pattern => {\n      const patternMatches = [...text.matchAll(pattern)];\n      patternMatches.forEach(match => {\n        const rawValue = match[1];\n        const numericValue = parseFloat(rawValue.replace(/,/g, ''));\n        if (numericValue > 0) {\n          matches.push({\n            value: numericValue,\n            raw_match: match[0],\n            confidence: 0.8\n          });\n        }\n      });\n    });\n    \n    if (matches.length > 0) {\n      extractedMetrics[metricType] = matches[0];\n    }\n  });\n  \n  return extractedMetrics;\n}"
      },
      "id": "metric-extraction-engine",
      "name": "Financial Metrics Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendRow",
        "documentId": {
          "__rl": true,
          "value": "{{ $vars.PE_ANALYSIS_SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": "revenue_history",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.processing_timestamp }}",
            "document_source": "={{ $json.file_name }}",
            "revenue_amount": "={{ $json.extracted_metrics.revenue?.value || '' }}",
            "currency": "USD",
            "extracted_by": "ai-extraction",
            "confidence": "={{ $json.extracted_metrics.revenue?.confidence || 0 }}",
            "raw_match": "={{ $json.extracted_metrics.revenue?.raw_match || '' }}"
          }
        },
        "options": {}
      },
      "id": "google-sheets-logger",
      "name": "State Database Logger",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Google Drive PE Document Monitor": {
      "main": [
        [
          {
            "node": "Extract From File Multi-Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File Multi-Format": {
      "main": [
        [
          {
            "node": "Financial Metrics Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Metrics Engine": {
      "main": [
        [
          {
            "node": "State Database Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}